.articulos{
    display: flex;
    margin: 10px;
}

#logo{
    width: 50px;
}

p{
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.527);
    border-radius: 15px;
    font-weight: 100;
}

.seccion{
    margin: auto;
    width: 80%;
    background-color: #D4A26A;
}

body{
    background-color:rgb(238, 203, 138);
    margin: 0;
}

img{
    max-width: 500px;
    max-height: 400px;
}

.pie_imagen{
    margin: auto;   
    display:flex;
    justify-content: space-between ;
    align-items: center;
    width: 80%;
}

.nav{
    background-color: rgb(126, 126, 126);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    /* background-color: aqua; */
}

.logo_empresa{
    display:flex;
    align-items: center;
}
h2{
    text-align: center;
}


article{
    margin-top: 50px;
    border-bottom: black solid 10px;
}


.seccion{
    margin: auto;
    width: 80%;
    background-color: #D4A26A;
}

@media (max-width: 1000px) {
    .seccion{
        width: 100%;
    }

    #search{
        width: 100px;
    }

    .pie_imagen{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img{
        max-width: 100%;
    }

    p{
        background-color: red;
    }
}